<div class="container container_footer">
  <div class="footer">
    <a class="links_bar" href="/">About</a>
    <a class="links_bar" href="/">Help</a>
    <a class="links_bar" href="/">Blog</a>
    <a class="links_bar" href="/">Status</a>
    <a class="links_bar" href="/">Jobs</a>
    <a class="links_bar" href="/">Terms</a>
    <a class="links_bar" href="/">Privacy</a>
    <a class="links_bar" href="/">Cookies</a>
    <a class="links_bar" href="/">Ads info</a>
    <a class="links_bar" href="/">Brand</a>
    <a class="links_bar" href="/">Advertise</a>
    <a class="links_bar" href="/">Businesses</a>
    <a class="links_bar" href="/">Media</a>
    <a class="links_bar" href="/">Developers</a>
    <a class="links_bar" href="/">Directory</a>
    <a class="links_bar" >© 2015 Twitter</a>
  </div>
</div>