<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Chitter</title>
    <link style="max-width: 1px; max-height: 1px" rel="shortcut icon" type="image/png" href="images/twitter_logo.png">

  <!-- <link rel="stylesheet" href="css/reset.css"> -->  
  <!-- <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"> -->
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/css/custom.css">
</head>

  <body>

    <nav class="navbar-wrapper navbar-fixed-top nav-bar-border chitter-navbar" id="red" role="navigation">
    </nav>
    
  <%= yield %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>