<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img style="max-width:25px; max-height: 25px" alt="Brand" src="images/chitter_logo.png">
      </a>
      <div class="navbar-right">
        <button type="button" href="/sessions/new" class="btn btn-default navbar-btn">Sign in</button>
        <button type="button" href="/users/new" class="btn btn-default navbar-btn">Sign up</button>
      </div>
    </div>
  </div>
</nav>