<h1>Welcome to Chitter</h1>

Current Posts:
<ul>
  <% @posts.each do |post| %>
    <li><%= post.message %></li>
  <% end %>
</ul>

<div id="new-post">
  <form action="/post" method="post">
    Message: <input type="text" name="message">
    <input type="submit" value="Add post">
  </form>
</div>