<h1>Please enter your registered email address</h1>

<form action="/users/forgot_password" method="post">
    Email: <input type="text" name='email'>
    <input type="submit" value="Reset Password">
  </form>